spring:
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        globally_quoted_identifiers: true
    defer-datasource-initialization: true

  datasource:
    url: ${DB_URL:jdbc:mysql://mysql:3306/${DB_NAME}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul}
    username: ${DB_USERNAME:${DB_USER}}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver