spring:
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        globally_quoted_identifiers: true
    defer-datasource-initialization: true

  datasource:
    url: jdbc:mysql://localhost:3306/subwaymap?serverTimezone=Asia/Seoul
    username: subway_user
    password: subway_pw
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: 127.0.0.1
      password: redispass12
      port: 6379
      timeout: 2s
      lettuce:
        pool:
          max-active: 16
          max-idle: 8
          min-idle: 0
          max-wait: 2s