services:
  loki:
    image: grafana/loki:2.9.0
    container_name: loki
    restart: unless-stopped
    networks:
      - subway-net
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml

  promtail:
    image: grafana/promtail:2.9.0
    container_name: promtail
    restart: unless-stopped
    networks:
      - subway-net
    depends_on:
      - loki
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ./promtail-config.yml:/etc/promtail/config.yml:ro
    command: -config.file=/etc/promtail/config.yml

  grafana:
    image: grafana/grafana:10.2.0
    container_name: grafana
    restart: unless-stopped
    networks:
      - subway-net
    ports:
      - "3000:3000"
    depends_on:
      - loki

networks:
  subway-net:
    external: true